polkit.addRule(function(action, subject) {
  var YES = polkit.Result.YES;
  var permission = {
    "org.freedesktop.upower.hibernate": YES,
    "org.freedesktop.upower.suspend": YES
  };
  if (subject.isInGroup("users")) {
    return permission[action.id];
  }
});
